.Logo {
  width: image-width(@img) * @scale;
  height: image-height(@img) * @scale;
  mask-image: url(@img);
  mask-size: 100%;
  mask-repeat: no-repeat;
  background: var(--color-red);

  @scale: 0.85;
  @img: './img/logo.svg';

  @apply absolute left-5 top-5;
}
