@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: 'ParalucentText';
  src:
    url('ParalucentText-Bold.woff2') format('woff2'),
    url('ParalucentText-Bold.woff') format('woff');

  font-display: swap;
}
