@font-face {
    font-family: 'FZLanTingHeiT-H-GB';
    src: url('subset-FZLTTHFW--GB1-0.woff2') format('woff2'),
        url('subset-FZLTTHFW--GB1-0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

